[submodule "app/elements/lancie-activity"]
	path = app/elements/lancie-activity
	url = git@github.com:AreaFiftyLAN/lancie-activity-element.git
[submodule "app/elements/lancie-section"]
	path = app/elements/lancie-section
	url = git@github.com:AreaFiftyLAN/lancie-section-element.git
[submodule "app/elements/lancie-commission"]
	path = app/elements/lancie-commission
	url = git@github.com:AreaFiftyLAN/lancie-commission-element.git
[submodule "app/elements/lancie-timetable"]
	path = app/elements/lancie-timetable
	url = git@github.com:AreaFiftyLAN/lancie-timetable-element.git
[submodule "app/elements/lancie-markdown"]
	path = app/elements/lancie-markdown
	url = https://github.com/AreaFiftyLAN/lancie-markdown.git
