<FilesMatch "\.(jpg|JPG|jpeg|png|gif|swf|svg|json)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

<FilesMatch "\.(txt|xml|js|css|md)$">
Header set Cache-Control "max-age=86400"
</FilesMatch>

<FilesMatch "\.(html)$">
Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
</FilesMatch>

AddType text/plain md

AddOutputFilterByType DEFLATE "text/html" \
  "text/plain" \
  "application/javascript" \
  "application/json" \
  "image/svg+xml"

AddCharset UTF-8 .html
AddCharset UTF-8 .md

RewriteEngine On
  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]

  # If the requested resource doesn't exist, use index.html
  # If the request is not for a valid file
  RewriteCond %{REQUEST_URI} !.(js|html|jpg|JPG|jpeg|png|gif|swf|svg|json|txt|xml|css|md)$
  RewriteRule ^ /index.html

