{{> header}}
  <lancie-selector selected="">
    <lancie-tickets data-page="tickets"></lancie-tickets>
      
    <div data-page="" class="homepage">
      {{> pages/homepage}}
    </div>
  </lancie-selector>
{{> footer}}