{{> header}}
  <lancie-selector selected="my-area">
    <lancie-tickets data-page="tickets"></lancie-tickets>
    <lancie-homepage data-page=""></lancie-homepage>
      
    <div data-page="my-area">
      {{> pages/my-area}}
    </div>
  </lancie-selector>
{{> footer}}