{{> header}}
    <lancie-selector selected="tickets">
        <div data-page="tickets">
            {{> pages/tickets}}
        </div>
        
        <lancie-homepage data-page="" class="homepage"></lancie-homepage>
    </lancie-selector>
{{> footer}}