:host {
  display: block;
  transition: var(--material-curve-320);
  transform: translate(0, 60px);
  opacity: 0;
}

:host(.active) {
  transform: translate(0, 0);
  opacity: 1;
}

#tickets {
  min-height: calc(100vh - 348px);
  width: 100%;
}

.termsofservice {
    font-size: 10px;
    text-align: center;
}

hr {
  border: 0;
  background: #606060;
  width: 100%;
  height: 1px;
  margin: 0;
  transition: width 400ms 320ms;
  transition-timing-function: var(--material-curve-320);
}

lancie-ticket-list {
  margin: 6px 0;
}

paper-button {
  width: 100%
}

paper-card {
  width: 100%;
  /*max-width: 420px;*/
  /*width: 420px;*/
  margin: 8px;
  --paper-card-header-color: #ffe574;
  --paper-card-header: {
    background-color: #1a2b43;
  }
}